In [7]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('players.db')

In [5]:
def format_duration(seconds):
    hours, remainder = divmod(seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{int(hours):02d}h {int(minutes):02d}m {int(seconds):02d}s"

## TF2 Surveillance war room

In [22]:
#Sessions by player name

query = "SELECT sessions.* FROM sessions JOIN players ON sessions.player_id = players.player_id WHERE players.name = 'Atomic Plum'; "
df = pd.read_sql_query(query, conn)

df["duration"] = df["duration"].apply(format_duration)

df.head()

,session_id,server_id,player_id,score,duration,joined_at,left_at
0,630,89,129913,24,00h 09m 51s,2023-11-06 03:20:09,2023-11-06 03:30:00